* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica;

}

.desktop-nav,
.mobile-nav {
    /* width: 100%; */
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    color: rgb(95, 83, 83);
    padding: 0 1.5vmax;
    font-size: 1.1vmax;
}

.mobile-nav {
    display: none;
    font-size: 2.5vmax;
    font-weight: 500;
    padding: 0 3vmax;
    width: 100vw;
    align-items: center;
}

.mobile-nav {
    height: 3vmax;

}

.nav-left {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2vmax 2vmax;
    font-weight: 400
}

.nav-right {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    /* background-color: red; */
}

.nav-left li,
.nav-right li {
    padding: 0 1vmax;
    transition: .25s;
    cursor: pointer;

}

.nav-left li:hover {
    color: black;
}

.nav-left img {
    height: 1.2vmax;
    transition: 0.25ms;
}

.nav-left img:hover {
    opacity: 0.6;
}

.signup-btn {
    padding: 1vmax 2vmax;
    background-color: rgb(145, 34, 34);
    color: white;
    font-weight: 600;
    height: 3vmax;
    border-radius: 0.6vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.signup-btn:hover {
    opacity: 0.6;

}

header {
    width: 100%;
    height: 80vh;
    padding: 3vmax 0;
    background-color: rgb(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

header video {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index:-1;
}

.tabs button {
    padding: 1vmax 1.5vmax;
    font-size: 1.1vmax;
    border-radius: 2vmax;
    margin-right: 0.5vmax;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-weight: 400;
    transition: 0.25s;
}

.tabs button:first-child {
    background-color: white;
    color: black;
}

.tabs button:hover {
    background-color: white;
    color: black;

}

header h1 {
    font-size: 3vmax;
    width: 40%;
    text-align: center;
    margin-top: 4vmax;
    margin-bottom: 2vmax;
}

header p {
    width: 40%;
    text-align: center;
    font-size: 1.1vmax;
}

.input-search {
    margin: 3vmax 0;
    position: relative;
}

.input-search input {
    width: 45vw;
    border: none;
    outline: none;
    border-radius: 2vmax;
    font-size: 1.2vmax;
    padding: 1.3vmax 3vmax 1.3vmax 5vmax;
}

.input-search i {
    position: absolute;
    font-size: 1.3vmax;
    z-index: 1;
    color: rgb(187, 187, 187);
    top: 33%;
    left: 5%;
}

.search-keywords span {
    padding: 0.5vmax 1vmax;
    border: 1px solid grey;
    margin: 0 0.5vmax;
    font-size: 1vmax;
    border-radius: 2vmax;
    transition: 0.25s;
}

.search-keywords span:first-child {
    border: none;
    font-size: 0.9vmax;
}

.search-keywords span:hover {
    background-color: rgb(42, 198, 196);
    left: -100%;
    border-color: rgb(15, 40, 198);
    color: rgb(243, 247, 243);
}

@media (max-width:800px) {

    .nav-left,
    .nav-right {
        font-size: 1.4vmax;
    }
}

@media (max-width:600px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }
}